footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  width: 100%;
  padding-bottom: 40px;
  background-color: #ddd;
  color: #333;
}

.movieDB {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.movieDB small {
  margin: 0px 10px;
}

/* Responsive CSS */
/* Small devices and Tablets */
@media only screen and (max-width: 900px) {
  .movieDB {
    flex-direction: column;
  }

  .movieDB small {
    margin: 10px;
  }
}
